<main>
  <div id="Fortune" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#Fortune" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#Fortune" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#Fortune" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item">
        <img src="https://www.crimeachess.ru/wp-content/uploads/2021/12/snSYV78xZdE.jpg" class="bd-placeholder-img" width="100%" height="400px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="400px" fill="#777"></rect>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Постоянные соревнования</h1>
            <p>В которых ты можешь себя проявить!</p>
            <p><a class="btn btn-lg btn-primary" href="~/Home/Activity">Список соревнований</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <img src="https://i.trbna.com/preset/wysiwyg/7/af/013fef8f611eb954ffec299f808bd.jpeg" class="bd-placeholder-img" width="100%" height="400px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="400px" fill="#777"></rect>
        <div class="container">
          <div class="carousel-caption">
            <h1>Спортивная школа "Fortuna"</h1>
            <h1>Лучшая спортивная школа в Оренбургской области</h1>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://dl.dropboxusercontent.com/s/3m8t81hjsvj7f1d/Салют%20Оренбург%20Газовик%20ёлка%20Новый%20год%202015_22.jpg?dl=0" class="bd-placeholder-img" width="100%" height="400px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="400px" fill="#777"></rect>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Тысячи спортсменов собрались c области</h1>
            <p>и только самые лучшии</p>
            <p><a class="btn btn-lg btn-primary" href="~/Home/Journal">Посмотреть журнал</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#Fortune" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#Fortune" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <br />

  <div class="container marketing">

    <div class="row">
      <div class="col-lg-4">
        <img src="https://png.pngtree.com/png-vector/20190627/ourlarge/pngtree-shield-icon-design-png-image_1516255.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140"  role="img" aria-label="Placeholder: 300x300" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="140px" height="140px" fill="#777"></rect>

        <h2>Надежность и безопасность</h2>
        <p>Мы заботимся о своих спортсменах P.S нет</p>
        <p><a class="btn btn-secondary" href="#">Посмотреть сертификат »</a></p>
      </div>
      <div class="col-lg-4">
        <img src="https://clipartix.com/wp-content/uploads/2018/03/burger-clipart-2018-51.png" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect>

        <h2>Бесплатное питание</h2>
        <p>Лучшее и качественное питание от проверенных поставщиков</p>
        <p><a class="btn btn-secondary" href="#">Посмотреть детали »</a></p>
      </div>
      <div class="col-lg-4">
        <img src="https://dvepravdi.ru/wp-content/uploads/2019/02/Знак-качества_Хай-768x768.png" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect>

        <h2>Лучшие тренеры</h2>
        <p>Собрали толпу, чтобы собирать деньги с вас)))</p>
        <p><a class="btn btn-secondary" href="~/Home/TrainerSport">Посмотреть список тренеров »</a></p>
      </div>
    </div>


    <!-- Особенности -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Огромное количество трофее по России</h2>
        <p class="lead">Ежегодно наши спортсмены привозят трофеи из разных углах России</p>
      </div>
      <div class="col-md-5">
        <img src="https://pbs.twimg.com/media/D42xoLpXoAArvWx.jpg:large" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"></rect>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">В нашей школе обучают всему</h2>
        <p class="lead">Занимайся чем хочешь</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="https://это-важно.рф/upload/iblock/96d/sport-foto.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"></rect>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Ежегодно выпускаются лучшии</h2>
        <p class="lead">А ты не лучший :)</p>
      </div>
      <div class="col-md-5">
        <img src="https://yt3.ggpht.com/ytc/AKedOLSDRB3SqMx3b_Jzx7EyoepgrxZjzmTMOnljGiJg8oI=s900-c-k-c0x00ffffff-no-rj" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"></rect>
      </div>
    </div>

    <hr class="featurette-divider">
    <footer class="container">
        <p class="float-end"><a href="#">Вернуться наверх</a></p>
        <p>© 2021 Fortune Company · <a href="#">Конфиденциальность</a> · <a href="#">Условия</a></p>
    </footer>
  </div>
</main>